body {
    background: #346a66;
    font-family: 'Press Start 2P', cursive;
}

a,
a:visited {
    text-decoration: none;
    color: #fff;
}

#main_2014, #main_2016{
    object-position: 0 0;
}

.hide-btn {
    background: #00bfe1;
}

.hide-btn:hover {
    background: #0086bb;
}

.img-container {
    padding: 5px;
    margin: 20px 60px 0 60px;
    display: flex;
    justify-content: center;
}

.img-container img {
    width: 50%;
    margin-bottom: 15px;
    border-radius: 10px;
    
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.prev-btn {
    margin-right: 10px;
}

.next-btn {
    margin-left: 10px;
}