@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: rgb(251, 100, 63);
    background: radial-gradient(circle, rgba(251, 100, 63, 1) 0%, rgba(198, 0, 40, 1) 100%);
    font-family: 'Press Start 2P', cursive;
}

nav {
    background: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    color: #fff;
}

a,
a:visited {
    text-decoration: none;
    color: #fff;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 50px;

}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}

.nav-img {
    height: 100px;
    margin-right: 50px;
}

.nav-links a {
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

.nav-links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
}

.social-icons {
    display: none;
}

.nav-links {
    height: 10rem;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 10rem;
}

@media screen and (min-width: 800px) {
    .nav-container {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0rem;
    }

    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav-links {
        height: auto;
        display: flex;
        align-items: center;
    }

    .nav-links a {
        padding: 0;
        margin: 0 0.5rem;
    }

    .nav-links a:hover {
        padding: 0;
        background: transparent;

    }

    .nav-links li:hover {
        background-color: yellow;
        color: #000;
        padding: 40px 0px 46px 0px;
    }
}

.imgs-grid {
    padding-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 300px);
    justify-items: start;
    justify-content: center;

 }

.imgs-grid__item {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: solid 5px #fff;
    
 }

 #img2017 {
    object-position: 30% 10%;

 }