body {
    background: rgb(251, 100, 63);
    background: radial-gradient(circle, rgba(251, 100, 63, 1) 0%, rgba(198, 0, 40, 1) 100%);
    font-family: 'Press Start 2P', cursive;
}

a,
a:visited {
    text-decoration: none;
    color: #fff;
}

.imgs-grid {
    padding-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 300px);
    justify-items: start;
    justify-content: center;

}

.imgs-grid__item {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: solid 5px #fff;
    filter: drop-shadow(0px 0px 0px #222);
    transition: transform 0.5s, filter 0.3s;
}

#img2017 {
    object-position: 30% 10%;

}

.imgs-grid__item:hover {
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px #222);
    transform: scale(1.2);
    z-index: 5;
}

.pop-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    /* height: 420px; */
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-weight: 800;
    margin: 0 auto;
    z-index: 50;
    padding-bottom: 30px;
}

.pop-up-bg {
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 15%;
    transform: translate(-50%, -50%);
    transition: .5s;
    opacity: 0;
    pointer-events: none;
}

.pop-up-header {
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
    color: #000;
}

.pop-up-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.pop-up-body img {
    width: 70%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.pop-up-body p {
    margin: 15px 15px;
    font-weight: 400;
}

.pop-up-body h3 {
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 10px;
}

.pop-up-body h4 {
    font-weight: 800;
    font-size: 16px;
}

.hideBtn {
    cursor: pointer;
    font-size: 14px;
    background: #fe425b;
    color: #fff;
    font-weight: 600;
    padding: 10px 80px;
    border-radius: 50px;
    transition: .4s;

}

.hideBtn:hover {
    background: #e0344b;
}

.show-pop {
    opacity: 1;
    pointer-events: visible;
}